.box1{
    width: 233px;
height: 192px;
flex-shrink: 0;
background: #FC0000;
position: absolute;
z-index: 20;
}
.box2{
    width: 233px;
height: 192px;
flex-shrink: 0;
background: #05FC00;
position: absolute;
z-index: 19;
margin-top:130px;
margin-left: 130px;
}
.box3{
    width: 233px;
height: 192px;
flex-shrink: 0;
background: #000AFC;
position: absolute;
z-index: 17;
margin-top: 260px;
margin-left: 260px;
}
.box4{
    width: 233px;
height: 192px;
flex-shrink: 0;
background: #F7FC00;
position: absolute;
z-index: 18;
left: 330px;
top: 310px;

}